{%extends 'layout.html'%}

{%block data%}
    <div class="bg-[#A8DADC] min-h-screen flex items-center mx-auto justify-center p-6">
    <div class="w-full max-w-7xl bg-white text-gray-900 p-2 rounded-3xl shadow-2xl fade-in">

        <form action="{% url 'attend' %}" method="post" enctype="multipart/form-data" class="space-y-6">
            {% csrf_token %}
            {{form.as_p}}
            <div>
            <input type="file" name="attend_file">
            <input type="time" name="time_slot">
            </div>
            <div>
            <button type="submit">
                submit
            </button>
        </div>
        </form>
    </div>
</div>
{%endblock%}