{%extends "layout.html"%}


{% block cat_ach %}
{% url 'display_category' dept 'achievement' %}
{% endblock %}

{% block cat_pla %}
{% url 'display_category' dept 'placement' %}
{% endblock %}

{% block cat_cer %}
{% url 'display_category' dept 'certificate' %}
{% endblock %}

{% block data%}



<div class="flex">

    <dialog id="modal" class=" fixed top-1/2 left-1/2 w-150 h-150 -translate-x-1/2 -translate-y-1/2 bg-black/50">
        <div class="bg-white p-6 h-full w-full rounded-lg shadow-lg w-96">
            <div class="">
                <img id="item-image" class="w-70 object-cover">
            </div>
            <div class="flex w-full text-center justify-center">
                <h1 id="modal-title" class="text-xl"> </h1>
                <div id="modal-year" class="text-xl "> </div>
                <div id="modal-dept" class="text-xl"> </div>
            </div>
            <div class="flex ">
                <div class="font-bold"> Description: </div>
                <div id="modal-description" class="text-gray-700 ml-2"></div>
            </div>
            <div class="flex ">
                <div class="font-bold">Category: </div>
                <div id="modal-category" class="text-gray-700 ml-2"></div>
            </div>
            <div class="flex ">
                <div class="font-bold">Department: </div>
                <div id="modal-department" class="text-gray-700 ml-2"></div>
            </div>
            <p id="modal-description" class="text-gray-700 mt-2"></p>
            <p id="modal-category" class="text-gray-700 mt-2"></p>
            <p id="modal-department" class="text-gray-700 mt-2"></p>
            <div class="text-right">
            <button onclick="document.getElementById('modal').close() " class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
                Close
            </button>
        </div>
        </div>
    </dialog>

    <div class="max-w-6xl mt-2 mx-2  w-full ">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-2 ">
            {% for item in category_items %}
            <div class="bg-white p-6 rounded-lg relative shadow-lg flex flex-col">
                    <h2 class="mt-2 text-xl my-2 font-semibold text-gray-900">
                        <button class="underline hover-cursor-pointer "> {{item.name}} </button> ({{item.year}} {{item.department}})
                    </h2>
                    <p class="mt-2 text-gray-600 flex-grow">
                        {{item.description}}
                    </p>
                    <div class="mt-4">
                        <div class="">
                            <p class="text-sm font-medium text-gray-900">{{item.name}}</p>
                            <p class="text-sm text-gray-500">{{item.category}}</p>
                        </div>
                    </div>
                    <div class="mt-3 text-xs flex justify-between">
                        <div> {{item.date_posted}}</div>
                            <div class="text-white text-right">
                                {% if item.sUsername == curr_username%}
                                <button data-item-image="{{item.files}}" data-item-username="{{ item.sUsername }}" data-item-id="{{ item.id }}" data-item-year="{{item.year}}" data-item-name="{{ item.name }}" 
                                    data-item-description="{{ item.description }}" data-item-category="{{item.category}}" data-item-department="{{ item.department }}"
                                    class="update-modal-button bg-black hover:cursor-pointer text-xs text-white rounded-lg p-2 transition-colors">
                                    Update
                                </button>
                                {% endif %}
                                <button 
                                    {% if item.files%}

                                        {% for item in item.files%}
                                            data-item-image="{{item}}"
                                        {%endfor%}
                                    
                                    {%endif%}
                                
                                
                                 data-item-id="{{ item.id }}" data-item-year="{{item.year}}" data-item-name="{{ item.name }}" 
                                    data-item-description="{{ item.description }}" data-item-category="{{item.category}}" data-item-department="{{ item.department }}"
                                    class="show-more-modal-button bg-black hover:cursor-pointer text-xs text-white rounded-lg p-2 transition-colors">
                                    Show More
                                </button>
                            </div>
                    </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const showMoreButtons = document.querySelectorAll('.show-more-modal-button');

        showMoreButtons.forEach(button => {
            button.addEventListener('click', () => {
                document.getElementById('modal-title').textContent = button.dataset.itemName;
                document.getElementById('modal-description').textContent = button.dataset.itemDescription;
                document.getElementById('modal-category').textContent = button.dataset.itemCategory;
                document.getElementById('modal-department').textContent = button.dataset.itemDepartment;
                document.getElementById('modal-year').textContent = `(${button.dataset.itemYear}-`;
                document.getElementById('modal-dept').textContent = `${button.dataset.itemDepartment})`;
                document.getElementById('item-image').src = `${button.dataset.itemImage}`;

                document.getElementById('modal').showModal(); 
            });
        });
        
    });
</script>




{% endblock %}