{% extends "layout.html" %}

{% block title %}
    {{dept | upper}}
{% endblock %}

{% block bar_title%}
    Welcome to {{dept | upper}} Department!
{% endblock %}

{% block cat_ach %}
{% url 'display_category' dept 'achievement' %}
{% endblock %}

{% block cat_pla %}
{% url 'display_category' dept 'placement' %}
{% endblock %}

{% block cat_cer %}
{% url 'display_category' dept 'certificate' %}
{% endblock %}

{%block chart%}
<div class="h-120 mt-2 text-center pl-3 shadow-lg">
    <img src="{% url 'pie_chart_year_dept' dept=dept %}" class="object-cover " alt="Department Pie Chart" >
    <div>
        <h2 class="text-xl font-semibold text-[#0A233A] mt-4">Year-wise Distribution</h2>
    </div>
</div>
{%endblock%}

