{%extends "layout.html"%}

{%block bar_title%}
Profile of {{ username }}
{%endblock%}

{% block profile %}

    <div class="w-1/3 h-full bg-white p-6 rounded-lg relative shadow-lg flex flex-col">
        <div class="flex justify-center">
            <img src="{{ profile_picture }}" alt="Profile Picture" class="w-24 h-24 rounded-full">
        </div>
        <div class="mt-4">
            <h2 id="prof_name" class="text-xl font-semibold text-gray-900"></h2>
            <p class="text-sm text-gray-600">@{{ username }}</p>
            <p class="text-sm text-gray-600">{{ user.department }}</p>
            <p class="text-sm text-gray-600">{{ user.roles}}</p>
        </div>
    </div>

{% endblock %}

{% block data%}

    

    {% for item in user_items %}
        <div class="bg-white p-6 rounded-lg relative shadow-lg flex flex-col">

            <h2 class="mt-2 text-xl my-2 font-semibold text-gray-900">
                <button class="underline hover-cursor-pointer "> {{item.name}} </button> ({{item.year}} {{item.department}})
            </h2>

            <p class="mt-2 text-gray-600 flex-grow">
                {{item.description}}
            </p>
            <div class="mt-4">
                <div class="">
                    <p class="text-sm font-medium text-gray-900">{{item.name}}</p>
                    <p class="text-sm text-gray-500">{{item.category}}</p>
                </div>
            </div>
            <div class="mt-3 text-xs flex justify-between">
                <div> {{item.date_posted}}</div>
                    <div class="text-white text-right">
                        {% if member.roles == 'Teacher'%}
                    <a href="{% url 'delete' item.id %}" data-item-username="{{ item.sUsername }}" data-item-id="{{ item.id }}" data-item-year="{{item.year}}" data-item-name="{{ item.name }}" 
                    data-item-description="{{ item.description }}" data-item-category="{{item.category}}" data-item-department="{{ item.department }}"
                    class="delete-data bg-black hover:cursor-pointer text-xs text-white rounded-lg p-2 transition-colors">
                        Delete
                    </a>
                    {% endif %}
                    {% if item.sUsername == curr_username or member.roles == 'Teacher'%}
                    <button data-item-image="{{item.files}}" data-item-username="{{ item.sUsername }}" data-item-id="{{ item.id }}" data-item-year="{{item.year}}" data-item-name="{{ item.name }}" 
                        data-item-description="{{ item.description }}" data-item-category="{{item.category}}" data-item-department="{{ item.department }}"
                        class="update-modal-button bg-black hover:cursor-pointer text-xs text-white rounded-lg p-2 transition-colors">
                        Update
                    </button>
                    {% endif %}
                        <button 
                            {% if item.files%}
                                {% for item in item.files%}
                                    data-item-image="{{item}}"
                                {%endfor%}
                            
                            {%endif%}
                        
                        
                        data-item-id="{{ item.id }}" data-item-year="{{item.year}}" data-item-name="{{ item.name }}" 
                            data-item-description="{{ item.description }}" data-item-category="{{item.category}}" data-item-department="{{ item.department }}"
                            class="show-more-modal-button bg-black hover:cursor-pointer text-xs text-white rounded-lg p-2 transition-colors">
                            Show More
                        </button>
                    </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

<script>
    updateButtons.forEach(button => {
    document.getElementById('prof_name').textContent = button.dataset.itemName;
});
</script>