{%extends "layout.html"%}

{%block bar_title%}
Profile of {{ username }}
{%endblock%}



{% block profile %}
{%if prof_user != None%}
    <div class="mt-2 ml-2 w-1/2 h-full bg-white p-6 rounded-lg relative shadow-lg flex flex-col">
        <div class="flex justify-center">
            <img class="h-40 rounded-full" src="{{profile.profile_picture}}" alt="">
        </div>
        <div class="mt-10 p-4">
            <h2 id="prof_name" class="text-xl font-semibold text-gray-900"></h2>
            <label class="text-sm text-black">Username: </label> <input readonly value="@{{ username }}">
            <p class="text-sm text-gray-600">{{ profile.full_name }}</p>
            <p class="text-sm text-gray-600">{{ profile.department }}</p>
            <p class="text-sm text-gray-600">{{ profile.year}}</p>
        </div>
    </div>
{% endif %}
{% endblock %}



