{%extends "layout.html"%}

{%block bar_title%}
attendance of {{ username }}
{%endblock%}

{% block profile %}

    <div class="mt-2 ml-2 w-1/2 h-full bg-white p-6 rounded-lg relative shadow-lg flex flex-col">      
        <div>
            <img src="data:image/png;base64,{{ chart }}">
        </div>
        <div class="mt-10 p-4">
            <p>Your total attendance: {{total}}<p>
            <p>total lectures: {{total_all}}<p>
            <p>Your percent attendance: {{calc}}<p>
        </div>
    </div>

{% endblock %}


{% block profile_attend%}

<div class="max-w-6xl mt-2 mx-2  w-full mb-10 flex gap-4 ">
    <div class="container w-50">

        <div class="bg-gray-100 p-6 rounded-xl relative shadow-lg flex flex-col border border-gray-300 transition-transform hover:scale-[1.02]">
                <h2 class="text-center"> Math </h2>
                <p class="mt-2 text-gray-700 flex-grow leading-relaxed text-lg">
                </p>
                <div class="mt-4">
                    <div class="">
                        <p class="text-md text-gray-500">Total Percent: {{percent.math}} %</p>
                        <p class="text-md text-gray-500">Present: {{stud_sub.math}} </p>
                        <p class="text-md text-gray-500">Absent: {{total_sub.math}} </p>
                    </div>
                </div>
        </div>
    </div>
    <div class="container min-w-52">

        <div class="bg-gray-100 p-6 rounded-xl relative shadow-lg flex flex-col border border-gray-300 transition-transform hover:scale-[1.02]">
                <h2 class="text-center"> Computer Organization and Architecture </h2>
                <p class="mt-2 text-gray-700 flex-grow leading-relaxed text-lg">
                </p>
                <div class="mt-4">
                    <div class="">
                        <p class="text-md text-gray-500">Total Percent: {{percent.coa}} %</p>
                        <p class="text-md text-gray-500">Present: {{stud_sub.coa}} </p>
                        <p class="text-md text-gray-500">Absent: {{total_sub.coa}} </p>
                    </div>
                </div>
        </div>
    </div>
    <div class="container ">

        <div class="bg-gray-100 p-6 rounded-xl relative shadow-lg flex flex-col border border-gray-300 transition-transform hover:scale-[1.02]">
                <h2 class="text-center"> Computer Networking </h2>
                <p class="mt-2 text-gray-700 flex-grow leading-relaxed text-lg">
                </p>
                <div class="mt-4">
                    <div class="">
                        <p class="text-md text-gray-500">Total Percent: {{percent.cn}} %</p>
                        <p class="text-md text-gray-500">Present: {{stud_sub.cn}} </p>
                        <p class="text-md text-gray-500">Absent: {{total_sub.cn}} </p>
                    </div>
                </div>
        </div>
    </div>
</div>

{%endblock%}




